
.primeiroparagrafo{
    text-align: justify;
    font-size: 18px;
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;}
.segundoparagrafo{
    text-align: justify;
    font-size: 18px;
    border: 2px solid black;
     padding: 10px;
     margin: 10px;}
#logoking {width: 2%; height: 2%;}
#lista {display: inline-block;}